<ul class="pagination">
    <li><a><i class="material-icons" (click)="handlePrevious()">chevron_left</i></a></li>
    <li *ngFor="let page of Pages" (click)="selectPageEvent.emit(page)"><a>{{ page }}</a></li>
    <li><a><i class="material-icons" (click)="handleNext()">chevron_right</i></a></li>
    <!-- <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li> -->
  </ul>
