<h4>Add Product</h4>
<form [formGroup]="addProductForm" (ngSubmit)="formAction($event)">
    <div class="input-filed">
        <label for="id">Id</label>
        <input formControlName="id" type="number" name="id" id="id">
    </div>
    <div class="input-filed">
        <label for="id">Name</label>
        <input formControlName="name" type="text" name="name" id="name">
    </div>
    <div class="input-filed">
        <label for="id">Url Image</label>
        <input formControlName="img" type="text" name="img" id="img">
    </div>
    <div class="input-filed">
        <label for="price">Price</label>
        <input formControlName="price" type="number" name="price" id="price">
    </div>
    <div class="input-filed">
        <label for="type">Type</label>
        <input formControlName="type" type="text" name="type" id="type">
    </div>
    <button class="btn" type="submit">New Product</button>
</form>
